<article class="media container">

  <figure class="media-left film-photo">
    <p class="image is-128x128">
      <%= image_tag item.photo.blank? ? 'https://bulma.io/images/placeholders/128x128.png' : url_for(item.photo) %>
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        <%=link_to item.name, film_path(item), "data-turbolinks": false%>
        <br>
        <%= item.description %>
      </p>
    </div>

    <div>
      <%=item.count%>
      <i class="fa fa-eye"></i>
    </div>
  </div>
  <div class="media-right">
    <%= button_tag '', class: 'delete', data: { 'js-film-delete': true,
                                                turbolinks: false,
                                                confirm: t('.delete_confirm'),
                                                url: film_path(item) } %>
  </div>
</article>