<%= content_for :content_title do %>
  <span class="icon-text">
        <span class="icon">
          <i class="fa fa-fire" aria-hidden="true"></i>
        </span>
        <span><%= 'Most discussed films' %></span>
      </span>
<% end %>
<% if user_signed_in? %>
  <span class="auto">
  <span>Welcome, <%= current_user.email %></span>

    <span class="button"> <%= link_to 'Exit', destroy_user_session_path, :method => :delete %>
      <style>.button {
          margin-bottom: 20px
      }</style></span>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %> или <%= link_to 'Creane new account', new_user_registration_path %>
<% end %>
<div class="films" data-js-films>

  <% if @films.any? %>

    <% @films.includes(:reviews).each do |film| %>

      <%= render 'list_item', item: film %>
    <% end %>
    <%== pagy_bulma_nav(@pagy) %>
  <% else %>
    <p class="has-text-centered is-size-6"><%= t('.no_items') %></p>
  <% end %>
</div>
</span>