<%= content_for :content_title do %>
  <span class="icon-text">
    <span class="icon">
      <i class="fas fa-film"></i>
    </span>
    <span><%= t('films.nav') %></span>
  </span>
<% end %>
<% content_for :content_title_actions do %>
  <%  link_to mosts_path do %>
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span><%= t('generic.add_new') %></span>
    </span>
  <% end %>
<% end %>

<div class="films" data-js-films>
  <% if @films.any? %>

    <% @films.each do |film| %>
      <%= render 'list_item', item: film %>
    <% end %>
    <%== pagy_bulma_nav(@pages) %>
  <% else %>
    <p class="has-text-centered is-size-6"><%= t('.no_items') %></p>
  <% end %>
</div>
