<article class="media container">
  <figure class="media-left actor-photo">
    <p class="image is-128x128">
      <%= image_tag item.image.blank? ? 'https://bulma.io/images/placeholders/128x128.png' : url_for(item.image)%>
    </p>
  </figure>

  <div class="media-content">
    <p>
      <%=link_to item.full_name, item%>
      <br>
      <%= item.description %>
    </p>
  </div>

  <div class="media-right">
    <%= link_to '', actor_path(item), method: :delete,
                class: 'delete',
                data: { confirm: t('.delete_confirm') } %>
  </div>
</article>
