<%= content_for :content_title do %>
  <span class="icon-text">
        <span class="icon">
       <i class="fa fa-users" aria-hidden="true"></i>
        </span>
        <span><%= 'Actors' %></span>
      </span>
<% end %>

<% content_for :content_title_actions do %>
  <%= link_to new_actor_path do %>
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span><%= t('generic.add_new') %></span>
    </span>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <span class="auto">
  <span>Welcome, <%= current_user.email %></span>
    <span class="button"> <%= link_to 'Exit' , destroy_user_session_path, :method => :delete %><style>
          .button{margin-bottom: 20px}
      </style>
    </span>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %> или <%= link_to 'Creane new account', new_user_registration_path %>
  </span>
<% end %>

<div class="actors" data-js-actors>
  <% if @actors.any? %>

    <% @actors.each do |film| %>
      <%= render 'list_item', item: film %>
    <% end %>

    <%== pagy_bulma_nav(@pagy) %>

  <% else %>
    <p class="has-text-centered is-size-6"><%= t('.no_items') %></p>
  <% end %>
</div>
