<% content_for :content_title_class %>
<% content_for :content_title_actions do %>
  <%= link_to films_path do %>
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span><%= t('generic.back') %></span>
    </span>
  <% end %>
<% end %>

<%= content_for :content_title do %>
  <span class="icon-text">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
    <span><%= t('.title') %></span>
  </span>
<% end %>

<%= simple_form_for @film do |f| %>
  <div class="content p-5 px-6">
    <div class="columns">
      <div class="column is-two-fifths">
        <%= f.input :name, required: false %>
        <%= f.input :description, as: :text %>
      </div>
    </div>
  </div>

  <div class="field">
  <%= fields_for(@film_actor) do |action| %>
      <%=action.label "Actors" %> <br/>
      <%= collection_select(:actors, :id, @actors2, :id, :full_name, {}, {:multiple => true }) %>
  <% end %>
  </div>
  <div class="content-footer has-text-right">
    <%= f.button :submit, value: t('generic.save') %>
  </div>
<% end %>

