<% content_for :content_title_class, 'is-link' %>
<%= content_for :content_title do %>
  <span class="icon-text">
    <span class="icon">
      <i class="fas fa-camera-retro"></i>
    </span>
    <span><%= @film.name %></span>
  </span>
<% end %>

<% content_for :content_title_actions do %>
  <%= link_to films_path do %>
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span><%= t('generic.back') %></span>
    </span>
  <% end %>
<% end %>

<div class="content p-5 px-6">
  <div class="columns">
    <div class="column is-two-fifths">
      <figure class="image film-photo m-0">
        <%= image_tag @film.photo.blank? ? 'https://bulma.io/images/placeholders/128x128.png' : url_for(@film.photo) %>
      </figure>
    </div>
    <div class="column has-text-justified">
      <%= @film.description %>
      <% @a = @film.actors.pluck(:full_name) %>
      <div>
        <br>
        <%= "Actors of film:" %>
        <% @size = @a.length %>
        <% @a.each do |film| %>
          <% @size = @size - 1 %>
          <%= " " + film %>
          <% if @size != 0 %>
            <%= ',' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'films/reviews/form', film: @film, review: @review %>
  <%= render 'films/reviews/list', reviews: @film.reviews %>
</div>

