<aside id="sidebar" class="sidebar column is-one-fifth p-0">
  <div class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>

        <%= sidebar_link actors_path, :actors do %>
        <span class="icon-text">
        <span class="icon">
       <i class="fa fa-users" aria-hidden="true"></i>
        </span>
        <span><%= 'Actors' %></span>
      </span>
        <% end %>


        <%= sidebar_link films_path, :films do %>
        <span class="icon-text">
        <span class="icon">
          <i class="fas fa-film"></i>
        </span>
        <span><%=t('films.nav') %></span>
      </span>
          <% end %>

        <%= sidebar_link popularfilm_path, :poularfilm do %>
        <span class="icon-text">
        <span class="icon">
          <i class="fa fa-fire" aria-hidden="true"></i>
        </span>
        <span><%= 'Most discussed films' %></span>
      </span>
        <% end %>
    </ul>
  </div>
</aside>
